.button {
    font-family: 'Montserrat Semibold', monospace;
    box-shadow: 0 5px 15px rgba(37, 25, 76, 0.2);
    text-transform: uppercase;
    border: 2px solid #fff;
    background-color: #fff;
    padding: 10px 47px 11px;
    border-radius: 22.5px;
    position: relative;
    line-height: 20px;
    color: #233F54;
    overflow: hidden;
    font-size: 11px;
    cursor: pointer;
    outline: 0;
}

.button::after {
    top: -5px;
    left: -5px;
    opacity: 0;
    right: -5px;
    bottom: -5px;
    content: " ";
    display: block;
    position: absolute;
    transition: all 0.8s;
    background-color: rgba(0, 0, 0, .2);
}

.button:active:after {
    opacity: 1;
    transition: 0s;
}

.buttonSuccess {
    border: 0;
    padding: 12px 49px 13px;
    background: linear-gradient(118.81deg, #99EE62 0%, #2CF6A7 100%);
}

.buttonGhost {
    color: white;
    background-color: transparent;
    transition: background .3s ease;
}

.buttonGhost.buttonSuccess {
    position: relative;
    background: none;
}

.buttonGhost:hover {
    background-color: rgba(255, 255, 255, .2);
}

.buttonGhost.buttonSuccess::before {
    box-shadow: -1px 0 0 1px rgba(173, 211, 86, 0.75),
        -1px -1px 0 1px rgba(130, 214, 106, 0.25),
        -1px 1px 0 1px rgba(130, 214, 106, 0.25),
        0 -1px 0 1px rgba(87, 217, 126, 0.5),
        0 1px 0 1px rgba(87, 217, 126, 0.5),
        1px -1px 0 1px rgba(44, 220, 146, 0.25),
        1px 1px 0 1px rgba(44, 220, 146, 0.25),
        1px 0 0 1px rgba(0, 223, 166, 0.75);
    border-radius: 22.5px;
    position: absolute;
    content: " ";
    bottom: 2px;
    right: 2px;
    left: 2px;
    top: 2px;
}