@keyframes container-fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.container {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation: container-fade-in .5s;
}

