.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 0;
    padding: 10px 0;
    display: inline-flex;
}

@media (max-width: 576px) {
    .header, .logo {
        align-items: center;
        flex-direction: column;
    }

    .logo {
        margin-bottom: 15px;
    }
}

@media (max-width: 320px) {
    .logo {
        margin-bottom: 0;
    }
}