.page, .content {
    display: flex;
    flex-direction: column;
}

.page {
    z-index: 0;
    width: 100%;
    color: white;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
    background-color: #150C2D;
    background-size: 1200px auto;
    background-position-y: -152px;
    background-image: url(/images/splash.svg);
}

.background, .backgroundGradient {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.background {
    overflow: hidden;
    z-index: -1;
}

.backgroundGradient {
    background: linear-gradient(80deg,#0f314a,#047624 80%);
    opacity: .5;
}

.backgroundCircleTop, .backgroundCircleBottom {
    border-radius: 50%;
    position: absolute;
    opacity: .2;
}

.backgroundCircleTop {
    background: linear-gradient(45deg, #150C2D 40%,#056327 70%);
    height: 190vh;
    width: 210vh;
    left: -88vh;
    top: -99vh;
}

.backgroundCircleBottom {
    background: linear-gradient(to right bottom,#11284f 0%,#01831d 50%);
    bottom: -124vh;
    height: 160vh;
    width: 200vh;
    left: -64vh;
}

.content {
    flex-grow: 1;
    padding: 17px 33px;
}