.container {
    width: 47%;
    font-size: 0;
    margin: 18px 0 0;
    position: relative;
    background-color: black;
    box-shadow: 0 10px 28px 0 #0D1B36;
}

.container > video {
    width: 100%;
}

.buttonContainer {
    top: 50%;
    left: 50%;
    position: absolute;
    transition: opacity .3s ease;
    transform: translate(-50%, -50%);
}

.button {
    border: 0;
    outline: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    padding: 26px;
    position: relative;
    box-sizing: content-box;
    background: url(/images/play-icon.svg) 30px no-repeat;
}

.button::before, .button::after {
    z-index: -1;
    content: " ";
    position: absolute;
    border-radius: 50%;
}

.button::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
    background: linear-gradient(#2CDA9C, #0BBF7F);
}

.button::after {
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: linear-gradient(180deg, #90EF68, #0BBF7F);
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}