@font-face {
  font-family: 'Montserrat Medium';
  src: url('/fonts/Montserrat-Medium.eot');
  src: url('/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/Montserrat-Medium.woff') format('woff'), url('/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url('/fonts/Montserrat-SemiBold.eot');
  src: url('/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('/fonts/Montserrat-SemiBold.woff') format('woff'), url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('/fonts/Poppins-Regular.eot');
  src: url('/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/Poppins-Regular.woff') format('woff'), url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('/fonts/Poppins-Medium.eot');
  src: url('/fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/Poppins-Medium.woff') format('woff'), url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Poppins Regular', sans-serif;
}

h1, h3, h4 {
  font-weight: normal;
}

h1 {
  margin: 18px 0;
  font-size: 32px;
  line-height: 32px;
}

h3 {
  margin: 10px 0;
  font-size: 18px;
}

h4 {
  margin: 18px 0;
  font-size: 14px;
}

a {
  outline: 0;
  color: currentColor;
  text-decoration: none;
  transition: color 1s ease;
}

a:hover, a:active {
  color: #2CF6A7;
  text-decoration: underline;
}