.form, .fields, .buttons {
    display: flex;
    flex-direction: column;
}

.form {
    align-items: center;
    transition: width 2s;
}

.fields {
    width: 100%;
    margin: 32px 0;
    border-radius: 4px;
    padding: 14px 35px 13px;
    background-color: #fff;
}

.field {
    font-size: 0;
    position: relative;
}

.field + .field {
    border-top: 1px solid rgba(216, 216, 216, 0.3055);
}

.field > label, .field > input {
    width: 100%;
    padding: 13px 0;
    font-size: 14px;
    color: #142A49;
    line-height: 20px;
}

.field > label {
    top: 0;
    left: 0;
    cursor: text;
    display: block;
    position: absolute;
    transition: .15s ease-out 0s;
}

.field > input {
    border: 0;
    outline: 0;
    background: transparent;
}

.field > input::placeholder {
    color: transparent;
}

.field > input:not(:placeholder-shown) {
    padding-top: 23px;
    padding-bottom: 3px;
}

.field > input:not(:placeholder-shown) ~ label {
    cursor: default;
    font-size: 11px;
    color: #bababa;
    padding: 5px 0 0;
}

.error {
    margin: 0 0 5px;
    font-size: 11px;
    color: #F5515F;
}

.textWithDivider {
    margin: 20px 0;
    padding: 0 5px;
    font-size: 14px;
    text-align: center;
    position: relative;
    font-family: 'Montserrat Medium', sans-serif;
}

.textWithDivider::before, .textWithDivider::after {
    top: 50%;
    width: 40%;
    height: 1px;
    content: " ";
    display: block;
    position: absolute;
    transform: translate(0, -50%);
    background-color: currentColor;
}

.textWithDivider::after {
    right: 5px;
}

.buttons {
    min-width: 251px;
    margin-top: 34px;
    align-items: stretch;
}

.seButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seIcon {
    margin-left: 15px;
}

@media (min-width: 576px) {
    .form {
        min-width: 390px;
    }
}

@media (max-width: 320px) {
    .fields {
        margin: 0 0 10px;
    }

    .buttons {
        margin-top: 10px;
    }
}