@keyframes rectangle-fade-in {
    from { opacity: 0; }
    to   { opacity: 0.43; }
}

.backgroundRectangleTop, .backgroundRectangleBottom {
    z-index: -1;
    display: none;
    opacity: 0.43;
    width: 70.5vw;
    height: 70.5vw;
    position: absolute;
    border-radius: 98px;
    animation: rectangle-fade-in 1s;
}

.backgroundRectangleTop {
    top: -55vh;
    right: -22vw;
    transform: rotate(18deg);
    background-image: linear-gradient(#2CF6A7, #99EE62);
}

.backgroundRectangleBottom {
    top: -45vh;
    right: -27vw;
    transform: rotate(24deg);
    background-color: #20F7AE;
}

@media (min-width: 1024px) and (max-height: 1024px) {
    .backgroundRectangleTop, .backgroundRectangleBottom {
        display: block;
    }
}